# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
*~
*.swp
.settings
.project
.workspace
.buildpath
backup

# Ignore sublime project files
*.sublime-*
